/* PROJECT FOLDER */
.project {
  background: #c9d8d7;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.project h3 {
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.project-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.project-box {
  /* background: #c9d8d7; */
  background: linear-gradient(to bottom, black, gray);

  height: 70vh;
  border-radius: 10px;

  animation: slideInFromRight 0.55s ease-in-out;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.project-card-description {
  padding: 10px 20px;
  color: white;
}

.project-card-description h3 {
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
}

.project-card-img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 300px;
  cursor: pointer;
}

.tool-text,
.description-text,
.show-more-text {
  font-family: "Carlito", sans-serif;
  font-weight: 500;
}

.description-text {
  font-size: 20px;
  margin-bottom: 10px;
}

.show-more-text {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.tool-text {
  margin-top: 10px;
  font-size: 20px;
}

@media (max-width: 575.68px) {
  .project h3 {
    font-size: 25px;
  }

  .project-container {
    margin: 0rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .project-box {
    height: 75vh;
  }
}

@media (min-width: 768px) {
  .project-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
}

@media (min-width: 1024px) {
  .project-container {
    display: flex;

    overflow-y: auto;
  }
}
