.header-container {
  background: #c9d8d7;

  height: 8vh;
  padding: 0rem 40px;
  display: flex;
  align-items: center;
}

.header-link {
  text-decoration: none;
  cursor: pointer;
}

.header-text {
  width: 150px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 30px;
  text-transform: uppercase;
  color: #812424;
}

.header-text span {
  text-transform: lowercase;
  color: #f5ecda;
}

.header-ul {
  margin: 0rem 3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header-ul li {
  list-style: none;
  text-transform: uppercase;
}

.header-ul li a {
  font-family: "Karla", sans-serif;

  font-size: 22px;
  font-weight: 600;
  text-decoration: none;
  color: #707174;
}

.header-ul li a:hover {
  text-decoration: underline;
  color: black;
}

.svg-container {
  width: 150px;
  margin-left: auto;
  padding: 0px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.svg:hover {
  transform: rotate(30deg);
  transition: all ease-in-out 1s;
}

/* MOBILE RESPONSIVENESS */

@media (max-width: 575.98px) {
  .header-container {
    padding: 0rem 1rem;
  }

  .header-ul {
    display: none;
  }
}

@media (min-width: 768px) {
  .header-container {
    padding: 0rem 3rem;
  }

  .header-ul li a {
    font-size: 17px;
  }
}

@media (min-width: 992px) {
  .header-container {
    padding: 0rem 4rem;
  }

  .header-ul li a {
    font-size: 19px;
  }
}

/* @media (min-width: 1200px) {
} */
