* {
  box-sizing: border-box;
}

p,
ul,
h1,
h2,
h3,
h4 {
  margin: 0px;
}

ul {
  padding: 0;
}

/* {
  font-family: 'Carlito', sans-serif;
font-family: 'Karla', sans-serif;
font-family: 'Roboto', sans-serif;
} */
